
header{
     height: 150px;
     width: 75%;
     margin-top:10px;
     margin-left: 250px;
     margin-bottom: 10px;
     background-color: black;
     opacity: 0.8;
     filter: alpha (Opacity=70); 
}

.Logo{
     height: 100px;
     width: 170px;
     position: relative;
       left: 190px;

}

.lText{
     height: 30px;
     width: 185px;
     margin-left: 195px;
     text-align: center;
     text-transform: uppercase;
     font-family: 'Mali', cursive;
     color: white;
     position: relative;
     right: 175px;
      bottom: 105px;
}


.butBlock{
    width: 435px;
    height: 40px;
    position: relative;
    bottom: 45px;
    left: 600px;
     opacity: 0.85;
}


a.button {
  height: 20px;
  width: 40px;
  position: relative;
  display: inline-block;
  font-size: 90%;
  font-weight: 700;
  color:  #00bfff;
  text-decoration: none;
  text-shadow: 0 -1px 2px rgba(0,0,0,.2);
  padding: .6em 1em;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(rgb(110,112,120), rgb(81,81,86)) rgb(110,112,120);
  box-shadow:
   0 1px rgba(255,255,255,.2) inset,
   0 3px 5px rgba(0,1,6,.5),
   0 0 1px 1px rgba(0,1,6,.2);
  transition: .2s ease-in-out;
}
a.button:hover:not(:active) {
  background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}
a.button:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}

body{
    background-image: url("../Photo/fon.jpg");
   background-repeat: no-repeat;
  background-size: 100% 100%;
}



.oBlock {
     height: 1300px;
     width: 1300px;
     background-color:#4c5866;
     opacity: 0.8;
     filter: alpha (Opacity=70); 
     position: relative;
     left: 300px;   
     top: 5px;
 }

 .firBlock{
     height: 1280px;
     width: 300px;
     margin-left: 25px;
     background-color: #23282b;   
     position: relative;
      top: 10px;
}

.podBlock1{
  height: 300px;
  width: 150px;
  color: #00bfff;
}

.ppBlock1{
  position: relative;
    bottom: 50px;
    right: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
}

.secBlock{
  height: 1280px;
  width: 920px;
  margin-right: 25px;
  background-color: #23282b;   
  position: relative;
   left: 360px;
   bottom: 1292px; 
}

.ptBlock1{
  height: 480px;
  width: 890px;
  position: relative;
    left: 15px;
    top: 10px;
  background-color: black; 
  color:#00bfff;  
  text-align: left;
  text-transform: uppercase;
  font-family: 'Permanent Marker', cursive;
}



.st_for_txt {
    text-align: center;
    text-transform: uppercase;
    font-family:'Permanent Marker', cursive ;
}